<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Liste des articles à acheter</h1>
    <table>
        <tbody>
            <tr>
            <% for (let i = 0 ; i < users.length ; i++) { %>
                
                    
                        <td><%= users[i].id_item%> <form method="post" action="/effacer"><input type="submit" value="Effacer"/></form><form method="post" action="/acheter"><input type="submit" value="Acheter"/></form></td>
                        <td><%= users[i].name%> <form method="post" action="/effacer"><input type="submit" value="Effacer"/></form><form method="post" action="/acheter"><input type="submit" value="Acheter"/></form></td>
                        <td><%= users[i].quantity%> <form method="post" action="/effacer"><input type="submit" value="Effacer"/></form><form method="post" action="/acheter"><input type="submit" value="Acheter"/></form></td>
                    
                        <td><%= users[i].purchased%>  <form method="post" action="/effacer"><input type="submit" value="Effacer"/></form><form method="post" action="/acheter"><input type="submit" value="Acheter"/></form></td>
                    
                
                    </tr>
                </tbody>
            <% } %>
        
        </table> 
        
    <form method="post" action="/ajouter">

        <input class="bouton" type="submit" value="Ajouter un article"/>
    </form>
    
</body>
</html>